{:cljdoc/include-namespaces-from-dependencies
 [reitit
  reitit-core
  reitit-dev
  reitit-ring
  reitit-http
  reitit-middleware
  reitit-interceptors
  reitit-spec
  reitit-schema
  reitit-swagger
  reitit-swagger-ui
  reitit-frontend
  reitit-sieppari
  reitit-pedestal]}
