{;;:skip-comments true
 :lint-as {potemkin/def-derived-map clojure.core/defrecord}
 :linters {:missing-else-branch {:level :off}
           :unused-binding {:level :off}
           :unused-referred-var {:exclude {clojure.test [deftest testing is are]
                                           cljs.test [deftest testing is are]}}}}
