{:cljdoc/include-namespaces-from-dependencies
 [metosin/reitit
  metosin/reitit-core
  metosin/reitit-dev
  metosin/reitit-ring
  metosin/reitit-http
  metosin/reitit-middleware
  metosin/reitit-interceptors
  metosin/reitit-spec
  metosin/reitit-schema
  metosin/reitit-swagger
  metosin/reitit-swagger-ui
  metosin/reitit-frontend
  metosin/reitit-sieppari
  metosin/reitit-pedestal]
 :cljdoc.doc/tree
 [["Introduction" {:file "doc/README.md"}]
  ["Basics" {}
   ["Route Syntax" {:file "doc/basics/route_syntax.md"}]
   ["Router" {:file "doc/basics/router.md"}]
   ["Path-based Routing" {:file "doc/basics/path_based_routing.md"}]
   ["Name-based Routing" {:file "doc/basics/name_based_routing.md"}]
   ["Route Data" {:file "doc/basics/route_data.md"}]
   ["Route Data Validation" {:file "doc/basics/route_data_validation.md"}]
   ["Route Conflicts" {:file "doc/basics/route_conflicts.md"}]
   ["Error Messages" {:file "doc/basics/error_messages.md"}]]
  ["Coercion" {}
   ["Coercion Explained" {:file "doc/coercion/coercion.md"}]
   ["Plumatic Schema" {:file "doc/coercion/schema_coercion.md"}]
   ["Clojure.spec" {:file "doc/coercion/clojure_spec_coercion.md"}]
   ["Data-specs" {:file "doc/coercion/data_spec_coercion.md"}]]
  ["Ring" {}
   ["Ring-router" {:file "doc/ring/ring.md"}]
   ["Reverse-routing" {:file "doc/ring/reverse_routing.md"}]
   ["Default handler" {:file "doc/ring/default_handler.md"}]
   ["Slash handler" {:file "doc/ring/slash_handler.md"}]
   ["Static Resources" {:file "doc/ring/static.md"}]
   ["Dynamic Extensions" {:file "doc/ring/dynamic_extensions.md"}]
   ["Data-driven Middleware" {:file "doc/ring/data_driven_middleware.md"}]
   ["Transforming Middleware Chain" {:file "doc/ring/transforming_middleware_chain.md"}]
   ["Middleware Registry" {:file "doc/ring/middleware_registry.md"}]
   ["Exception Handling with Ring" {:file "doc/ring/exceptions.md"}]
   ["Default Middleware" {:file "doc/ring/default_middleware.md"}]
   ["Content Negotiation" {:file "doc/ring/content_negotiation.md"}]
   ["Pluggable Coercion" {:file "doc/ring/coercion.md"}]
   ["Route Data Validation" {:file "doc/ring/route_data_validation.md"}]
   ["Compiling Middleware" {:file "doc/ring/compiling_middleware.md"}]
   ["Swagger Support" {:file "doc/ring/swagger.md"}]
   ["RESTful form methods" {:file "doc/ring/RESTful_form_methods.md"}]]
  ["HTTP" {}
   ["Interceptors" {:file "doc/http/interceptors.md"}]
   ["Pedestal" {:file "doc/http/pedestal.md"}]
   ["Sieppari" {:file "doc/http/sieppari.md"}]
   ["Default Interceptors" {:file "doc/http/default_interceptors.md"}]
   ["Transforming Interceptor Chain" {:file "doc/http/transforming_interceptor_chain.md"}]]
  ["Frontend" {}
   ["Basics" {:file "doc/frontend/basics.md"}]
   ["Browser integration" {:file "doc/frontend/browser.md"}]
   ["Controllers" {:file "doc/frontend/controllers.md"}]]
  ["Advanced" {}
   ["Configuring Routers" {:file "doc/advanced/configuring_routers.md"}]
   ["Composing Routers" {:file "doc/advanced/composing_routers.md"}]
   ["Different Routers" {:file "doc/advanced/different_routers.md"}]
   ["Route Validation" {:file "doc/advanced/route_validation.md"}]
   ["Dev Workflow" {:file "doc/advanced/dev_workflow.md"}]
   ["Shared Routes" {:file "doc/advanced/shared_routes.md"}]]
  ["Misc" {}
   ["Performance" {:file "doc/performance.md"}]
   ["Development Instructions" {:file "doc/development.md"}]
   ["FAQ" {:file "doc/faq.md"}]]]}
